
<!-- START OF CLIENTS SECTION -->
<div id="client">
  
  <h2><span>Featured</span> Clients</h2>
  
  <ul class="client-info">
    <li><a href="#"><%= image_tag "clients/adidas-logo.png", alt: "adidas" %></a></li>
    <li><a href="#"><%= image_tag "clients/ag-logo.png", alt: "smashing" %></a></li>
    <li><a href="#"><%= image_tag "clients/enveto.png", alt: "envato" %></a></li>
    <li><a href="#"><%= image_tag "clients/ibm-logo.png", alt: "ibm" %></a></li>
    <li><a href="#"><%= image_tag "clients/puma-logo.png", alt: "puma" %></a></li>
    <li><a href="#"><%= image_tag "clients/cat-logo.png", alt: "puma" %></a></li>
    <li><a href="#"><%= image_tag "clients/sega-logo.png", alt: "puma" %></a></li>
  </ul>
  
</div>
<!-- END OF CLIENTS SECTION -->
