<div id="slider-wrap">  
  
  <div class="slider">
    
    <div class="slide">
      <%= image_tag "slider/slider-img01.jpg", alt: "Slider Image 01" %>			
    </div><!--end of slide-->
    
    <div class="slide">
      <%= image_tag "slider/slider-img02.jpg", alt: "Slider Image 02" %>			
    </div><!--end of slide-->
    
    <div class="slide">
      <%= image_tag "slider/slider-img03.jpg", alt: "Slider Image 03" %>			
    </div><!--end of slide-->
    
    <div class="slide">
      <%= image_tag "slider/slider-img04.jpg", alt: "Slider Image 04" %>			
    </div><!--end of slide-->
    
    <div class="slide">
      <%= image_tag "slider/slider-img05.jpg", alt: "Slider Image 05" %>			
    </div><!--end of slide-->
    
  </div><!--end of slider-->
  
  <a href="#" class="next-slide"></a>
  <a href="#" class="right-slide"></a>
  
</div><!--end of slider-wrap-->

					
