<!-- START OF RECENT-WORK SECTION -->
<div id="recent-work">
  
  <h2 class="section-title"><span>Recent <strong>Work</strong></span></h2>
  
  <ul class="work-samples">
    <li>
      <h5>Lorem ipsum dolor sit amet</h5>
      <a rel="prettyPhoto" class="thumb-anchor" href="<%= asset_path 'work/first-big.jpg' %>">
	<%= image_tag "work/first-small.jpg", alt: "Gallery Image" %>
	<span></span>
      </a>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
      <a href="#" class="read-more-btn">Read more</a>
    </li>
    
    <li>
      <h5>Lorem ipsum dolor sit amet</h5>
      <a rel="prettyPhoto" class="thumb-anchor" href="<%= asset_path 'work/second-big.jpg' %>">
	<%= image_tag "work/second-small.jpg", alt: "Gallery Image" %>
	<span></span>
      </a>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
      <a href="#" class="read-more-btn">Read more</a>
    </li>
    
    <li>
      <h5>Lorem ipsum dolor sit amet</h5>
      <a rel="prettyPhoto" class="thumb-anchor" href="<%= asset_path 'work/third-big.jpg' %>">
	<%= image_tag "work/third-small.jpg", alt: "Gallery Image" %>
	<span></span>
      </a>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
      <a href="#" class="read-more-btn">Read more</a>
    </li>
    
    <li>
      <h5>Lorem ipsum dolor sit amet</h5>
      <a rel="prettyPhoto" class="thumb-anchor" href="<%= asset_path 'work/fourth-big.jpg' %>">
	<%= image_tag "work/fourth-small.jpg", alt: "Gallery Image" %>
	<span></span>
      </a>
      <p>In vitae enim tortor. Quisque lacinia lobortis dui, a egestas est feugiat in. Nullam hendrerit libero quis metus dapibus non of them.</p>
      <a href="#" class="read-more-btn">Read more</a>
    </li>
  </ul>

</div>					
<!-- END OF RECENT-WORK SECTION -->
