<div class="row" id="mainintro">
  <div class="span12">
    <div class="centered">
      <iframe width="853" height="480" src="http://www.youtube.com/embed/bPsUmhUjQmM?rel=0" frameborder="0" allowfullscreen></iframe>

      <div class="register">
        <%= link_to image_tag("register-here.png"),
          "http://railsrampup.eventbrite.com" %>
      </div>
    </div>
  </div>
</div>

<div class="row" id="guarantee">
  <div class="span8 offset2" style="background: #ddddff; padding: 20px; margin-bottom: 30px;">
    <%= image_tag "guarantee.png", style: "float: left;" %>
    <div>
      <h4>My Guarantee</h4>
      <p>I want you to <strong>love</strong> this course. If you're not
      completely satisfied with the course, let me know and I'll give
      you your money back.</p>

      <%= image_tag "signature.png", class: "signature", style: "float: right;" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="launchbox">
      <h1 class="centered">Here's what you get from the Rails Ramp Up course...</h1>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "telephone.png" %>
        </div>
        <div class="body">
          <h3>Unlimited Access to an Expert</h3>
          <p>Charles Max Wood will be available to answer your questions
          and solve your problems. You can get help through the forums,
          over email, and through screensharing via Skype and
          GoToMeeting.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "clipboard.png" %>
        </div>
        <div class="body">
          <h3>Live Coding Demonstrations</h3>
          <p>Each week's lesson will include a live coding
          demonstration where I'll use the principles taught to add
          functionality to my own application. This way, you not only
          get the training material, but can see how to apply it.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "comment-bubble.png" %>
        </div>
        <div class="body">
          <h3>Online Discussion Forum</h3>
          <p>Our E-learning software provides a forum for the course
          where you can ask questions, get answers, and collaborate
          with other students.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "chalkboard.png" %>
        </div>
        <div class="body">
          <h3>8 Online Training Sessions</h3>
          <p>Each week we'll cover an aspect of Ruby on Rails. Most other
          training courses are purely informational. Ours are
          practical. We'll start with the information and end with a
          live demonstration of how we'd use it in a real application.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "compass.png" %>
        </div>
        <div class="body">
          <h3>Weekly Q&amp;A Sessions</h3>
          <p>Each lesson will include up to 30 minutes of Questions
          and Answers at the end. If you run into a problem or have
          questions about the materials or techniques demonstrated,
          we'll get them clarified.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "video-clapperboard.png" %>
        </div>
        <div class="body">
          <h3>Digital Copies of Online Lessons</h3>
          <p>After each lesson, you'll be able to download and rewatch
          each lesson as many times as you want. We'll also embed them
          in the membership area for the course if you'd rather stream
          them instead of downloading them. These materials will be
          available after the course is over as well.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "pencil.png" %>
        </div>
        <div class="body">
          <h3>Sample Code</h3>
          <p>Sometimes it helps to have code you can look at as an
          example. Seeing what other people have done can show you
          what the next steps are. After the live demo during the
          lessons, you'll get access to the code I wrote in the lesson.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "target-dart.png" %>
        </div>
        <div class="body">
          <h3>Weekly Assignments</h3>
          <p>The best way to learn Ruby on Rails is by using it.
          You are going to build a Ruby on Rails application. Each
          week, we'll give you an assignment to complete which
          involves adding functionality to your Ruby on Rails
          application. </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "clouds.png" %>
        </div>
        <div class="body">
          <h3>Launch Instructions</h3>
          <p>Writing an application is much more important when you're
          aiming to launch. We'll drive you to get something built that
          people can play with and we'll show you how to put it on a
          server so people can find it. This include server
          configuration, deployment scripts, and simpler solutions
          like heroku.com.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="row register">
  <div class="span12">
    <%= link_to image_tag("register-here.png"),
      "http://railsrampup.eventbrite.com" %>
  </div>
</div>

<div class="row" id="schedule">
  <div class="span12">
    <h3>Schedule</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Traning Session Title</th>
          <th>Topics & Description</th>
          <th>Sign Up</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>March 6, 2013</td>
          <td>Rails Ramp Up</td>
          <td>
            <ul>
              <li>Installing Ruby on Rails</li>
              <li>Creating a new Rails app</li>
              <li>Using gems as plugins with Bundler</li>
              <li>Model-View-Controller in Rails</li>
              <li>Build a blog in 15 minutes demo</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062321540",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 13, 2013</td>
          <td>Rails Models Ramp Up</td>
          <td>
            <ul>
              <li>Ruby on Rails models</li>
              <li>Rails generators</li>
              <li>Database migrations</li>
              <li>Model associations</li>
              <li>Model CRUD (create, read, update, and delete) operations</li>
              <li>Callbacks and Observers</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062381720",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 20, 2013</td>
          <td>Rails Views Ramp Up</td>
          <td>
            <ul>
              <li>Rails Controller Basics</li>
              <li>ERb Templates</li>
              <li>Helpers and Helper Methods</li>
              <li>Forms and Form Helpers</li>
              <li>Non-HTML Views (XML and JSON views)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062401780",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 27, 2013</td>
          <td>Rails Controllers Ramp Up</td>
          <td>
            <ul>
              <li>Rails Controller Basics Review</li>
              <li>Parameters and Sessions</li>
              <li>Rails Routing</li>
              <li>Before, After, and Around Filters</li>
              <li>Basic HTTP Authentication</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062419834",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 3, 2013</td>
          <td>Rails Asset Pipeline Ramp Up</td>
          <td>
            <ul>
              <li>CSS and Javascript Compilation</li>
              <li>Dynamic CSS and Javascript</li>
              <li>Images</li>
              <li>CoffeeScript Basics</li>
              <li>SCSS Basics</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062451930",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 10, 2013</td>
          <td>Common Rails Plugins (Gems) Ramp Up</td>
          <td>
            <ul>
              <li>Authentication (Devise)</li>
              <li>File Uploads (CarrierWave)</li>
              <li>CSS Frameworks (Twitter Bootstrap)</li>
              <li>Charging Money (Stripe)</li>
              <li>Application Monitoring (New Relic)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062469984",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 17, 2013</td>
          <td>Testing Rails with RSpec</td>
          <td>
            <ul>
              <li>Introduction to RSpec</li>
              <li>Unit Testing Models</li>
              <li>Unit Testing Controllers</li>
              <li>Testing Rails Views</li>
              <li>Acceptance Testing with Capybara</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062488038",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 24, 2013</td>
          <td>Rails Deployment Ramp Up</td>
          <td>
            <ul>
              <li>(Ubuntu) Server Setup</li>
              <li>Nginx with Unicorn</li>
              <li>Apache with Phusion Passenger</li>
              <li>SSL Certificates</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($1200)",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($200)",
                "http://www.eventbrite.com/event/5062508098",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row register">
  <div class="span12">
    <%= link_to image_tag("register-here.png"),
      "http://railsrampup.eventbrite.com" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3 id="about">About Charles Max Wood</h3>
    <p>
      <%= image_tag "cmaxw.jpg", style: "float: left; padding-right: 5px" %>
      Charles Max Wood is a programmer, podcaster, and family man
      living in Lehi, Utah. He is the host of several podcasts, has
      recorded multiple programming tutorials at <%= link_to "Teach Me
      To Code", "http://teachmetocode.com" %>, and spoken at several
      conferences. He has been programming with Ruby on Rails for 7
      years and built myriad sites including social networks,
      reporting applications, mapping and geospacial applications, and
      financial applications.
    </p>

    <p>Charles is currently a freelance web developer. His company is
    Intentional Excellence Productions, LLC.</p>

    <h4>Podcasts</h4>
    <p>
      <%= image_tag "RubyRogues.png",
          style: "float: left; padding-right: 5px" %>
      <%= link_to "The Ruby Rogues Podcast", "http://rubyrogues.com" %>
      is a weekly podcast discussion around concepts
      relating to Ruby and good programming practices. It features
      other top Rubyists either as regular co-hosts or guests.
    </p>
    <div style="clear: both"></div>
    <p style="margin-top: 10px;">
      <%= image_tag "railscoach.jpg",
          style: "float: left; padding-right: 5px" %>
      <%= link_to "The Rails Coach Podcast", "http://railscoach.com" %>
      is designed to help people new to Ruby on Rails understand the
      concepts behind the libraries and approaches to Ruby on
      Rails. Each show is 5-10 minutes long and after the recent
      reboot has an accompanying video.
    </p>
    <p style="margin-top: 10px;">
      <%= image_tag "tmtc.png",
          style: "float: left; padding-right: 5px" %>
      <%= link_to "Teach Me To Code", "http://teachmetocode.com" %>
      is a series of screencasts explaining code concepts and
      demonstrating how to build various websites. Many of the videos
      are demonstrations of how to use Ruby on Rails.
    </p>

    <div style="clear: both;"></div>
    <h4>Speaking/Conferences</h4>
    <p style="margin-top: 10px;">
      <ul>
        <li>
          <%= link_to "Cloning Twitter: Rails + Cassandra = Scalable Sharing",
              "http://confreaks.com/videos/731-rockymtnruby2011-cloning-twitter-rails-cassandra-scalable-sharing"
              %>
        </li>
        <li>
          <%= link_to "Ruby Rogues - Live Podcast!",
          "http://confreaks.com/videos/904-railsconf2012-ruby-rogues-live-podcast"
          %>
        </li>
        <li>
          <%=
             link_to "Facing the Monolith: Overcoming Monolithic
             Applications with SOA",
             "http://confreaks.com/videos/1249-aloharuby2012-facing-the-monolith-overcoming-monolithic-applications-with-soa"
             %>
        </li>
      </ul>
    </p>
  </div>
  <div class="span6">
    <h3>About Ruby on Rails</h3>
    <p>
      Ruby on Rails is a terrific framework for building web
      applications. It hides a lot of the details of interacting with
      the database. It provides a clear way to organize your
      code. And, it is arguably the fastest way to build a website or
      web application.
    </p>

    <p>
      Ruby on Rails' modular design gives the programmer a simple way
      to substitute pieces of technology with others. It allows you
      switch out frameworks for CSS, JavaScript, testing, database
      access, and many others.
    </p>

    <p>
      Many of the functions and methods used in Ruby on Rails are
      named after what they do. These helper methods make building
      forms, lists, and other web components very easy.
    </p>

    <p>
      Building XML and JSON apis are exceptionally simple in
      Rails. You can build a view (or template) for the responses to
      API calls or you can simply use the built-in methods for
      converting objects to XML or JSON.
    </p>
  </div>
</div>

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "322923",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
