<div class="row red">
  <div class="span4 headerbar">
    <h1 class="header">Rails Ramp Up</h1>
  </div>
  <div class="span4 headerbar">
    <p>
      An online training series to get you started with Ruby on Rails
    </p>
  </div>
  <div class="span4 headerbar">
    <%= image_tag "cmaxw.jpg", :style => "float: left; padding-right: 5px;" %>
    <p>
      Presented by Charles Max Wood<br>
      Host of <%= link_to "Ruby Rogues", "http://rubyrogues.com" %> and
      <%= link_to "Teach Me To Code", "http://teachmetocode.com" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2 class="centered">Learn Ruby on Rails in 8 Weeks</h2>
    <h3 class="centered">Your Guided Tour to Rails</h3>

    <div style="clear: both;"></div>

    <%= image_tag "TreasureChest.jpg",
        style: "float: right; height: 170px; padding-left: 10px;" %>

    <p>Have you tried learning Ruby on Rails from a book? Ever wished
    you could stop the video and ask a question? You need
    someone who knows the terrain. </p>

    <p>Rails Reloaded is a guided 8 week course in Ruby on Rails. You
    get <strong>one-on-one help</strong> via <strong>email</strong>
    and <strong>Skype</strong> (within reason) as well as <strong>regular office hours</strong> from
    someone who has worked with Ruby on Rails for 7 years. </p>

    <p>Each course session includes <strong>instruction</strong> to convey basic concepts, <strong>live
    coding</strong> to demonstrate how the concepts apply, and <strong>Q&amp;A</strong> to
    clarify what you just learned. Additionally, each week you'll receive assignments
    designed to reinforce what you've learned in the online session.</p>

    <p>Each session is held Wednesday at 3pm Mountain Time. <strong>Digital
    copies are provided after each session for review.</strong></p>
  </div>
</div>

<div class="row">
  <div class="span2">
    <%= image_tag "TreasureMap.jpg" %>
  </div>
  <div class="span5">
    <h4>The course includes:</h4>
    <ul>
      <li>8 live online training sessions</li>
      <li>Access to the online forums</li>
      <li>Direct access to Charles Max Wood for answers to
        questions</li>
      <li>Weekly assignments to reinforce training</li>
      <li>Digital copies of all online sessions</li>
    </ul>
  </div>
  <div class="span5">
    <h4>Each training session includes:</h4>
    <ul>
      <li>30-45 minutes of training and explanation</li>
      <li>30-45 minutes of live coding example</li>
      <li>Live Q&amp;A sessions up to 30 minutes</li>
      <li>Git repository containing all code from the session
        including the live example</li>
      <li>Details on how to get help from Charles Max Wood</li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Schedule</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Traning Session Title</th>
          <th>Topics & Description</th>
          <th>Sign Up</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>March 6, 2012</td>
          <td>Rails Ramp Up</td>
          <td>
            <ul>
              <li>Installing Ruby on Rails</li>
              <li>Creating a new Rails app</li>
              <li>Using gems as plugins with Bundler</li>
              <li>Model-View-Controller in Rails</li>
              <li>Build a blog in 15 minutes demo</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 13, 2012</td>
          <td>Rails Models Ramp Up</td>
          <td>
            <ul>
              <li>Ruby on Rails models</li>
              <li>Rails generators</li>
              <li>Database migrations</li>
              <li>Model associations</li>
              <li>Model CRUD (create, read, update, and delete) operations</li>
              <li>Callbacks and Observers</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 20, 2012</td>
          <td>Rails Views Ramp Up</td>
          <td>
            <ul>
              <li>Rails Controller Basics</li>
              <li>ERb Templates</li>
              <li>Helpers and Helper Methods</li>
              <li>Forms and Form Helpers</li>
              <li>Non-HTML Views (XML and JSON views)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>March 27, 2012</td>
          <td>Rails Controllers Ramp Up</td>
          <td>
            <ul>
              <li>Rails Controller Basics Review</li>
              <li>Parameters and Sessions</li>
              <li>Rails Routing</li>
              <li>Before, After, and Around Filters</li>
              <li>Basic HTTP Authentication</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 3, 2012</td>
          <td>Rails Asset Pipeline Ramp Up</td>
          <td>
            <ul>
              <li>CSS and Javascript Compilation</li>
              <li>Dynamic CSS and Javascript</li>
              <li>Images</li>
              <li>CoffeeScript Basics</li>
              <li>SCSS Basics</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 10, 2012</td>
          <td>Common Rails Plugins (Gems) Ramp Up</td>
          <td>
            <ul>
              <li>Authentication (Devise)</li>
              <li>File Uploads (Paperclip)</li>
              <li>CSS Frameworks (Twitter Bootstrap)</li>
              <li>Charging Money (Stripe)</li>
              <li>Application Monitoring (New Relic)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 17, 2012</td>
          <td>Testing Rails with RSpec</td>
          <td>
            <ul>
              <li>Introduction to RSpec</li>
              <li>Unit Testing Models</li>
              <li>Unit Testing Controllers</li>
              <li>Testing Rails Views</li>
              <li>Acceptance Testing with Capybara</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>April 24, 2012</td>
          <td>Rails Deployment Ramp Up</td>
          <td>
            <ul>
              <li>(Ubuntu) Server Setup</li>
              <li>Nginx with Unicorn</li>
              <li>Apache with Phusion Passenger</li>
              <li>SSL Certificates</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "All Sessions ($597)",
                  "http://www.eventbrite.com/event/4514701594",
                  class: "btn btn-primary" %>
            </p>
            <p>
            <%= link_to "This Session ($97)",
                "http://www.eventbrite.com/event/4514701594",
                class: "btn btn-info" %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Just What You Need</h3>
    <p>Whether you're a new programmer or </p>
  </div>
</div>
